In [118]:
for x in range(1,2):
    for y in range(2):
        print (x+y)

2

In [203]:
abc = {23,4,55,6,78}
for x in abc:
    print(x)

4
6
78
23
55

In [204]:
a = ["ajay",'jay',56,'67']
for x in a:
    print(x)

ajay
jay
56
67

In [207]:
for i in range(2,21,2):
    print(i,end = " ")

2 4 6 8 10 12 14 16 18 20

In [208]:
for j in "abcdefghijklmnopqrstuvwxyz":
    print(j,end = " ")

a b c d e f g h i j k l m n o p q r s t u v w x y z

In [211]:
for i in range(3,31,3):
    print(i)
else:
    print("Thank You")

3
6
9
12
15
18
21
24
27
30
Thank You

In [213]:
a = ["one", "two", "lots of"]
b = ["apple", "banana", "orange"]

for x in a:
  for y in b:
    print(x, y)

one apple
one banana
one orange
two apple
two banana
two orange
lots of apple
lots of banana
lots of orange

In [219]:
a = ["one", "two", "three","four","five"]
for i in range (len(a)):
    print(a[i])

one
two
three
four
five

In [224]:
for i in range(1,20):
    if(i%2 == 0):
        print(i)

2
4
6
8
10
12
14
16
18

In [231]:
st = "AJAY"
for i in range(len(st)):
    print(st[i])

A
J
A
Y

In [144]:
for i in range(0,6):
    for j in range(i,6):
        print(' ',end='')
    for j in range(0,i):
        print('*', end='')
    print()

     *
    **
   ***
  ****
 *****

      *
     * *
    * * *
   * * * *
  * * * * *

In [154]:
for i in range(0,6):
    for j in range(i,6):
        print(' ',end='')
    for j in range(0,i):
        print(i, end='')
    print()

     1
    22
   333
  4444
 55555

In [160]:
for i in range(0,6):
    for j in range(i,6):
        print('*',end='')
    for j in range(0,i):
        print(' ', end='')
    print()

******
*****
****
***
**
*

In [162]:
for i in range(0,6):
    for j in range(i,6):
        print('',end='')
    for j in range(0,i):
        print('*', end='')
    print()

*
**
***
****
*****

In [165]:
for i in range(0,7):
    for j in range(i,6):
        print('1',end='')
    for j in range(0,i):
        print('', end='')
    print()

111111
11111
1111
111
11
1

In [171]:
for i in range(0,6):
    for j in range(i,6):
        print(i+1 ,end='')
    for j in range(0,i):
        print(' ', end='')
    print()

111111
22222
3333
444
55
6

In [174]:
for i in range(6):
    for j in range(i+1):
        print('* ',end='')
    for j in range(0,i):
        print('', end='')
    print()

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [199]:
for i in range(6):
    for j in range(i+1):
        print(j+1,end='')
    for i in range(0,j):
        print("", end='')
    print()

1
12
123
1234
12345
123456

In [194]:
for i in range(6):
    for j in range(i+1):
        print('',end='')
    for j in range(i+1):
        print( i, end='')
    print()

0
11
222
3333
44444
555555